@charset "UTF-8";

.body_login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #f2f2f2; /* Dark gray background */
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #333333; /* Slightly lighter border color */
    box-shadow: 0 0 25px #333333; /* Slightly lighter shadow color */
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.7s ease;
    transition-delay: calc(0.03s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(0.03s * var(--i));
}

.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
}
.wrapper.active .form-box.register {
    pointer-events: auto;
}

.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: 0.7s ease;
    transition-delay: calc(0.05s * var(--j));
}
.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(0.05s * var(--i));
}

.form-box h2 {
    font-size: 32px;
    color: #333333;  
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #333333; /* Slightly lighter border color */
    padding-right: 23px;
    font-size: 16px;
    color: #333333;  
    font-weight: 500;
    transition: 0.5s;
    font-size: 16px;
}

.input-box input:focus, .input-box input:valid {
    border-bottom-color: #E98D01; /* Dark gray border */
}

.input-box label {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333333;  
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus ~label, .input-box input:valid ~label {
    top: 1px;
    color: #E98D01; 
}

.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #333333;  
    transition: 0.5s;
}

.input-box input:focus ~i, .input-box input:valid ~i {
    color: #E98D01; /* Dark gray color */
}

.btn_login {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #111111; /* Dark gray border */
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom:5px;
    color: wheat; /* Dark gray text color */
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}
.btn_login::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#111111, #333333, #111111, #333333); /* Gradient background */
    z-index: -1;
    transition: 0.5s;
}

.btn_login:hover::before {
    top: 0;
}

.btn_register {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #111111; /* Dark gray border */
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: wheat;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

.btn_register::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#111111, #333333, #111111, #333333); /* Gradient background */
    z-index: -1;
    transition: 0.5s;
}

.btn_register:hover::before {
    top: 0;
}

.form-box .logreg-link {
    font-size: 14.5px;
    color: #333333;  
    text-align: center;
    margin: 20px 0 10px;
}

.logreg-link p a.register-link {
    color: #111111; /* Dark gray color */
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a.register-link:hover {
	cursor: pointer;
	color: #E98D01;
}
.logreg-link p a.login-link {
    color: #111111; /* Dark gray color */
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a.login-link:hover {
	cursor: pointer;
	color: #E98D01;
}
.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 0.7s ease;
    transition-delay: calc(0.03s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(0.03s * var(--i));
}

.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}
.wrapper.active .info-text.register {
    pointer-events: auto;
}
.wrapper .info-text.register .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition: 0.7s ease;
    transition-delay: calc(0.05s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(0.05s * var(--i));
}

.info-text h2 {
    font-size: 36px;
    color: wheat; 
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 16px;
    color: wheat;  
}

.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #111111, #333333);
    border-bottom: 3px solid #333333; 
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.3s ease;
    transition-delay: 0.1s;
}

.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: 0.1s;
}

.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #f2f2f2; /* Dark gray background */
    border-top: 3px solid #333333; /* Slightly lighter border color */
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 0.5s ease;
    transition-delay: 0.1s;
}
.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 0.7s;
}




.header .container .sticky{
	opacity: 0.9;
}


#backtotop{
	background: #ffc451;
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 40px;
    border-radius: 4px;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.c-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative !important;
}

.header__top__right .header__top__left .user-img {
    position: relative;
    top:0;
    
}
.header__top__left{
	display:inline-block;
	margin-bottom:5px;
	margin-right: 45px;
}
.header__top__right .header__top__left .user-img .activity {
    background-image: linear-gradient(230deg, #6fd96f, #6fd96f);
}

.header__top__right .header__top__left .user-img .activity {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    border: 2px solid #fff;
    bottom: .4rem;
    right: 0rem;
    padding: 0;
    top: auto;
    left: auto;
}
.header__top__right .header__top__left .user-img img {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.drop-down {
    display: none;
    z-index: 9999;
    width: 20rem;
    top: -1.5rem  !important;
    position: absolute;
    right: 0 !important;
    left: auto !important;
    transform: translate3d(0px, 75px, 0px) !important;
    transition: all 0.4s ease-in-out;
    border-top: 0;
    background: #fff;
    color: #000;
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
}
.dropdown-profile {
    width: 15rem;
}
.dropdown-menu {
    font-size: inherit;
}
.dropdown-content-body ul {
    padding: 0 1.25rem;
    background-color: #fff;
}
.dropdown-profile ul {
    padding: 0rem 0;
}
.header__top__right ul {
    height: 100%;
    margin: 0;
}

li {
    list-style: none;
}
.dropdown-profile li {
    padding: 0.4375rem 1.25rem !important;
    margin-bottom: 0 !important;
}

.dropdown-content-body ul > li {
    float: none;
    line-height: 1.25;
    padding: 0.9375rem 0;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.header__top__right ul li .span_profile {
	cursor:pointer;
    color: #7571f9;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.header__top__right ul li a{
    transition: all 0.4s ease-in-out;
    color: #76838f;
}
.header__top__right ul li .a_edit{
	float: right;
}
.header__top__right ul li a:hover {
    color: #2e28f6;
}
.dropdown-profile li a {
    display: block;
}
.dropdown-profile li a i {
    margin-right: 0.3125rem;
    font-size: 0.95rem;
    position: relative;
    top: 2px;
    color: #333;
}

.span_fullname{
	color: #ffffff;
	font-size: 13px;
}

.img_click{
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}
li .img_click{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.ih-item {
	width: 50%; 
    height: auto; 
    left: 25%;
	display: flex;
    justify-content: center;
  	align-items: center;
  	position: relative;
 	 -webkit-transition: all 0.35s ease-in-out;
  	-moz-transition: all 0.35s ease-in-out;
  	transition: all 0.35s ease-in-out;
}

.ih-item a:hover {
  text-decoration: none;
}


.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect1 .spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect1 .info {
  width:70px;
  height:70px;
  top: 0;
  left: 15%;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 11px;
  margin: 0 6px;
  padding: 30px 0 0 0;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
 
.ih-item .span_profile:hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item .span_profile:hover .info {
  opacity: 1;
}

.btn_logout {
	border: none;
	transition: all 0.4s ease-in-out;
	color: #76838f;
	background: #fff;
	margin: 0;
	padding: 0;
}

.dropdown-profile li .f_logout i {
	margin-right: 0.3125rem;
	font-size: 0.95rem;
	position: relative;
	top: 2px;
	color: #333;
}

.f_logout:hover, .f_logout .btn_logout:hover {
	cursor: pointer;
	color: #dc3545!important;
}
button:focus {
    outline: none;
}

.text-right:hover .popover{
	display: block;
}

.gradient-custom {
	height:400px;
	/* fallback for old browsers */
	background: #f6d365;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}
.css_edit_profile{
	transform: translate3d(375px, -49px, 0px);
}
@media only screen and (max-width: 1200px) {
	.css_edit_profile{
		transform: translate3d(281px, -49px, 0px);
	}
}
@media only screen and (max-width: 765px) {
	.gradient-custom {
		height:auto;
		border-bottom-right-radius:.5rem;
		border-top-right-radius: .5rem;  
	}
	.css_edit_profile{
		transform: translate3d(393px, -49px, 0px);
	}
}


@media only screen and (min-width: 765px) and (max-width: 990px) {
    .css_edit_profile {
        transform: translate3d(334px, -49px, 0px);
    }
}

.Information{
	position: relative;
	padding: 21px 0;
}
.Information a{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background-color:rgb(116, 124, 139);
	color: #fff;
}
.Information a:hover{
	background-color: #272B2F ;
}
.i_close_1{
	display: block;
}
.i_close_2{
	display: none;
}
.div_close_i:hover .i_close_1{
	display: none;
}
.div_close_i:hover .i_close_2{
	display: block;
	color: red;
}

