@charset "UTF-8";

.header .container .sticky{
	opacity: 0.9;
}


#backtotop{
	background: #ffc451;
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 40px;
    border-radius: 4px;
}

.c-pointer {
    cursor: pointer;
}

.header__top__right .header__top__left .user-img {
    position: relative;
    top:0;
    
}
.header__top__left{
	display:inline-block;
	margin-bottom:5px;
	margin-right: 45px;
}
.header__top__right .header__top__left .user-img .activity {
    background-image: linear-gradient(230deg, #6fd96f, #6fd96f);
}

.header__top__right .header__top__left .user-img .activity {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    border: 2px solid #fff;
    bottom: .4rem;
    right: 0rem;
    padding: 0;
    top: auto;
    left: auto;
}
.header__top__right .header__top__left .user-img img {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.drop-down {
    display: none;
    z-index: 9999;
    width: 20rem;
    top: -1.5rem  !important;
    position: absolute;
    right: 0 !important;
    left: auto !important;
    transform: translate3d(0px, 75px, 0px) !important;
    transition: all 0.4s ease-in-out;
    border-top: 0;
    background: #fff;
    color: #000;
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
}
.dropdown-profile {
    width: 15rem;
}
.dropdown-menu {
    font-size: inherit;
}
.dropdown-content-body ul {
    padding: 0 1.25rem;
    background-color: #fff;
}
.dropdown-profile ul {
    padding: 0rem 0;
}
.header__top__right ul {
    height: 100%;
    margin: 0;
}

li {
    list-style: none;
}
.dropdown-profile li {
    padding: 0.4375rem 1.25rem !important;
    margin-bottom: 0 !important;
}

.dropdown-content-body ul > li {
    float: none;
    line-height: 1.25;
    padding: 0.9375rem 0;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.header__top__right ul li .span_profile {
	cursor:pointer;
    color: #7571f9;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.header__top__right ul li a{
    transition: all 0.4s ease-in-out;
    color: #76838f;
}
.header__top__right ul li .a_edit{
	float: right;
}
.header__top__right ul li a:hover {
    color: #2e28f6;
}
.dropdown-profile li a {
    display: block;
}
.dropdown-profile li a i {
    margin-right: 0.3125rem;
    font-size: 0.95rem;
    position: relative;
    top: 2px;
    color: #333;
}

.span_fullname{
	color: #ffffff;
	font-size: 13px;
}

.img_click{
    margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	height: 70px;
	width: 70px;
}
li .img_click{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.ih-item {
	width: 50%; 
    height: auto; 
    left: 25%;
	display: flex;
    justify-content: center;
  	align-items: center;
  	position: relative;
 	 -webkit-transition: all 0.35s ease-in-out;
  	-moz-transition: all 0.35s ease-in-out;
  	transition: all 0.35s ease-in-out;
}

.ih-item a:hover {
  text-decoration: none;
}


.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.circle.effect1 .spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}
.ih-item.circle.effect1 .info {
  width:70px;
  height:70px;
  top: 0;
  left: 15%;
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h3 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 11px;
  margin: 0 6px;
  padding: 30px 0 0 0;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
 
.ih-item .span_profile:hover .spinner {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item .span_profile:hover .info {
  opacity: 1;
}

.btn_logout {
	border: none;
	transition: all 0.4s ease-in-out;
	color: #76838f;
	background: #fff;
	margin: 0;
	padding: 0;
}

.dropdown-profile li .f_logout i {
	margin-right: 0.3125rem;
	font-size: 0.95rem;
	position: relative;
	top: 2px;
	color: #333;
}

.f_logout:hover, .f_logout .btn_logout:hover {
	cursor: pointer;
	color: #dc3545!important;
}
button:focus {
    outline: none;
}

.text-right:hover .popover{
	display: block;
}

.gradient-custom {
	height:400px;
	/* fallback for old browsers */
	background: #f6d365;
	
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
	
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}
.css_edit_profile{
/* 	transform: translate3d(375px, -49px, 0px); */
	text-align: right;
    right: -25px;
    left: auto;
    top:-49px;
}

@media only screen and (max-width: 765px) {
	.gradient-custom {
		height:auto;
		border-bottom-right-radius:.5rem;
		border-top-right-radius: .5rem;  
	}

}

.Information{
	position: relative;
	padding: 21px 0;
}
.Information a{
	position:absolute;
	top:0;
	bottom:0;
	right: 1px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background-color:rgb(116, 124, 139);
	color: #fff;
}
.Information a:hover{
	background-color: #272B2F ;
}
.i_close_1{
	display: block;
}
.i_close_2{
	display: none;
}
.div_close_i:hover .i_close_1{
	display: none;
}
.div_close_i:hover .i_close_2{
	display: block;
	color: red;
}
.emdisplay{
    color: #6c757d;
}
.emdisplay:hover {
	color: #007bff;
}

/* edit_profile */
.ep{
	padding: 1.25rem 0 3.125rem;
}
.a_ep{
	cursor: pointer;
}
.img_ep{
	width: 50px; 
	height: 50px;
	border-radius: 50%; 
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15); 
	background: #fff;
}
.div_edit_text{
	position: relative; 
	min-height: 100%;
}
._title-ep {
	position: sticky;
	z-index: 3;
	top: 0;
	background: white;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 1.125rem 0;
}

.h1_title-ep {
	margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-transform: capitalize;
    color: #333;
}
.div_title-ep {
	margin-top: .1875rem;
    font-size: .875rem;
    line-height: 1.0625rem;
    color: #555;
}
.text-sl_img-ep{
	color: #999;
    font-size: .875rem;
    line-height: 1.25rem;
}
.form_ep {
	flex: 1;
}
.form_ep .i_ep{
	border-radius: 1%;
}
.sl_img-ep {
	border-left: 1px solid rgba(0, 0, 0, .1); 
	width: 17.5rem;
}
.img_sl-img-ep {
	width: 6.25rem; 
	height: 6.25rem; 
	margin: 1.25rem 0;
}
.sl_img-ep_avatar-img{
	width : 100px;
	height : 100px;
	border-radius: 50%;
	box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.15);
	background: #fff;
}
._btn-ep{
	outline: 0;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    position: relative;
    overflow: visible;
}
._btn-ep:hover{
	background: rgba(0,0,0,.02);
}
.mt-text-sl_img-ep{
	margin-top: .75rem;
}
.sl-img-ep-btn {
	height: 40px;
    padding: 0 20px;
    min-width: 70px;
    max-width: 220px;
}
@media (max-width: 575px) {
    .sl_img-ep {
        border-left: none;
    }
}
.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #fff;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .8333333333rem;
    color: #9da9bb;
    white-space: nowrap;
}

.arrow-box {
	position: absolute;
	display: block;
	width: 1rem;
	height: 0.5rem;
	margin: 0 0.3rem;
	top: calc(( 0.5rem + 1px)* -1);
}

.arrow-box::before ,.arrow-box::after  {
	position: absolute;
	display: block;
	content: "";
	border-color: transparent;
	border-style: solid;
	top: 0;
	border-bottom-color: rgba(255, 255, 255, 1);
	border-width: 0 0.5rem 0.5rem 0.5rem;}
.arrow-box::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.nav_silde_ep ul li{
	line-height: 3;
	text-align: center;
}
.nav_silde_ep ul li:hover ,.nav_silde_ep ul li.active {
	cursor: pointer;
	color: gray;
	background: #fff;
	border-radius: 10px;
}
body::-webkit-scrollbar {
  width: 0;
}
.Order_{
	margin-top: 24px;
	margin-bottom: 5px;
}
.formatted-order-date {
	margin-top: -11px;
	position: absolute;
	z-index: 2;
	background: #fff;
	color: #6c757d;
}
.div_max {
	min-width: 300px;
	max-height: 473px;
	overflow-y: auto;
}
.div_max::-webkit-scrollbar {
  width: 0;
}